/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #27ae60; /* Vibrant Green */
  --secondary-color: #2980b9; /* Deep Blue */
  --accent-color: #e67e22; /* Orange */
  --neutral-bg: #e0f7fa; /* Light Blue */
  --neutral-coffee: #7d5a29; /* Coffee Brown */
  --warning-color: #e74c3c; /* Red */
  --text-white: #ffffff;
  --text-black: #333333;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--neutral-bg);
  color: var(--text-black);
}
